module ussher 1.0;

require {
    class file { getattr open read write };
    class tcp_socket name_connect;
    type http_port_t;
    type sshd_t;
    type var_log_t;
    type var_t;
}

allow sshd_t http_port_t:tcp_socket name_connect;
allow sshd_t var_log_t:file open;
allow sshd_t var_t:file { getattr read write };
